torch
transformers
sentence_transformers
#sentencepiece
loralib
peft
langchain
protobuf==3.20.3
accelerate
bitsandbytes
PyPDF2
faiss-cpu
tiktoken
llama_index
chromadb
unstructured
pytesseract
dashscope

